/* education */

.education-section h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.education-section {
    padding: 120px 20px 40px;
    background-color: #fdfdfd;
    
}

.timeline {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 20px;
    border-top: 2px solid #ccc;
}

.edu-item {
    position: relative;
    width: 30%;
    padding-top: 20px;
}

.edu-item::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 3px #333;
}